<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.scythe.skyrim"
        versionCode="10" 
        version   = "1.7.3">
<icon src="icon.png" />    
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<preference name="show-splash-screen-spinner" value="true" />
<preference name="splash-screen-duration" value="15000" />

<name>Skyrim</name>

<description>
A demo app for Skyrim.
</description>

<author href="https://shihingkungfu.co.uk" email="michael@shihingkungfu.co.uk">
Scythe Apps
</author>


<gap:splash src="splash.png" />
<preference name="orientation" value="portrait" />

</widget>
